@import "../../scss/styles";

.searchSection {
  @include outer-container();
  background: $color--yellow;
  padding-top: 50px;
  padding-bottom: 50px;
}

.searchForm {
}

.formTitle {
  @include text--section-heading;
  color: $color--purple;
}

.inputField {
  font-size: 20px;
  width: 100%;
  border: none;
  color: $color--light-grey;
  letter-spacing: 1.5px;
  max-width: 500px;
  padding: 10px;
  padding-left: 40px;
  border-radius: 5px;
}

.inputWrapper {
  position: relative;
  .iconWrapper {
    position: absolute;
    left: 15px;
    top: 10px;
    color: $color--light-grey;
  }
}
