@import "../../../scss/styles";

.rentalItem {
  background: white;
  padding-bottom: 20px;
  &.addedToRequests {
  }
}

.topSection {
  background: $color--purple;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-height: 250px;
  overflow: hidden;
  border-bottom: solid 20px rgba(0, 0, 0, 0);
}

.topSection,
.bottomSection {
  padding: 20px;
}
.bottomSection {
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title {
  @include font--bold();
  font-size: 20px;
  color: white;
}

.priceLabel {
  font-weight: bold;
}

// .price {
//   color: $color--;
// }

.description {
  margin-top: 0;
  min-height: 70px;
}
.bgImage {
  padding-bottom: 80%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.button {
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  border: none;
  background: $color--lagun-blue;
  border-radius: 10px;
  transition: all 500ms ease-in-out;
  &:active {
    background: lighten($color--lagun-blue, 15);
  }
  &:hover {
    background: lighten($color--lagun-blue, 7);
  }
  &.addedToRequests {
    background: rgba(255, 32, 125, 1);

    &:active {
      background: lighten(rgba(255, 32, 125, 1), 20);
    }
    &:hover {
      background: lighten(rgba(255, 32, 125, 1), 15);
    }
  }
}
