@import "../../../scss/styles";

.rentalItem {
  background: white;
}

.topSection {
  background: $color--purple;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-height: 250px;
  overflow: hidden;
  border-bottom: solid 20px rgba(0, 0, 0, 0);
}

.topSection,
.bottomSection {
  padding: 20px;
}

.title {
  @include font--bold();
  font-size: 20px;
  color: white;
}
.bgImage {
  padding-bottom: 80%;
  //   height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
