@import "../../../../scss/styles";

.dateRange {
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  background: $color--light-grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $color--medium-grey;
}

.defaultText {
  color: lighten($color--medium-grey, 25);
}
