@mixin font--light-italic() {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

@mixin font--bold() {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 0;
}

@mixin text--section-heading() {
  @include font--bold();
  font-size: 30px;
}

@mixin font-family--default() {
  font-family: "Poppins", sans-serif;
}
