@import "../../scss/styles";

.rentalItemsSection {
  @include outer-container-padding-x();
  @include outer-container-padding-y();
  background: $color--light-grey;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 25px;
  grid-row-gap: 25px;
}
