@import "../../scss/styles";

.navbar {
  @include outer-container-padding-x();
  background: $color--dark-grey;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navContentContainer {
  @include inner-container();
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  list-style: none;
  padding: 0;
  display: flex;
  @include font--light-italic();

  &__item {
    margin-left: 50px;
    &:first-of-type {
      margin-left: 0;
    }
  }
}

.logo {
  width: 100px;
}
